<%- include('../partials/header') %>




<div class="wrapper">
  <div class="sidebar">
    <div class="admin-sidebar">
      <div class="admin-sidebar-title"></div>
      <div>
        <h1>Admin Menu</h1>
        <a class="admin-sidebar-link" href="/admin/search">Add</a>
        <a class="admin-sidebar-link" href="/admin/movies">Movies</a>
        <a class="admin-sidebar-link" href="/admin/series">Series</a>
      </div>
    </div>
  </div>
  <div class="admin-body">
    <h1>WELCOME <%=user.name%></h1>
  </div>

</div>



<%- include('../partials/footer') %>