<%- include('../partials/header') %>


    <h2>Enter a New Series</h2>
    <form action="/series" method="POST">
        <label>Title:
            <input type="text" name="seriesId">
        </label>
        <input type="submit" value="Add Movie">
    </form>


    <%- include('../partials/footer') %>