<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Mongoose Movies</title>
    <script defer src="/javascripts/tab.js"></script>
    <script defer src="/javascripts/countdown.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<nav class="navbar">
    <a class="navbar-item" href="/">Home</a>
  <a class="navbar-item" href="/movies">All movies</a>
  <a class="navbar-item" href="/series">All Series</a>
  <a class="navbar-item" href="/search">search</a>
  <% if (user) { %>
    <a class="navbar-item" href="/profile">my list</a>
<% } %>
<% if (user && user.isAdmin) { %>
    <a class="navbar-item" href="/admin">Admin Panel</a>
<% } %>
    
  <% if (user) { %>
    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
<% } else { %>
    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
<% } %>
</nav>

<body>