<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <a href="/movies">All movies</a>
  <a href="/movies/new">Add A Movie</a>
  <a href="/series">All Series</a>
  <a href="/series/new">Add A Serie</a>
</body>

</html>