<%- include('../partials/header') %>

<div class="wrapper">
    <div class="sidebar">
      <h2>User Menu</h2>
      <ul>
        <li><a href="/user/movies">Movies</a></li>
        <li><a href="/user/series">Series</a></li>
      </ul>
    </div>
  </div>
  
  

<%- include('../partials/footer') %>