body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.poster {
  width: 100px;
}
.show-top {
  display: flex;
  flex-direction: row;
}

.show-poster {
  width: 400px;

}

.name-top {
  margin-left: 20px;
  font-size: 50px;

}

.episode-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}