body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.banner{
  display: flex;
  justify-content: center;
  height: 500px;
  
}

a {
  color: #00B7FF;
}

.poster-small {
  width: 300px;
}
.show-top {
  display: flex;
  flex-direction: row;
}

.show-poster {
  width: 350px;
  padding: 50px;

}

.name-top {
 font-size: 50px;
}

.episode-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  text-decoration: none;
  font-size: large;
}

#logo{
  height: auto;
    width: auto;
    max-height: 70px;

}

.navbar-item{
  padding: 0 20px;
  text-decoration: none;
  color: white;
}
.navbar-item:hover{
  color: yellow;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;

}
.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
}

.poster-small{
  width: 300px;
  height: 450px;
  padding: 10px;
}

.poster-admin{
  width: 150px;
}

.wrapper{
  display: flex;
  flex-direction: row;
  
}


.admin-sidebar{
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.admin-sidebar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  font-size: 20px;
  color: white;
}
.admin-sidebar-link:hover{
  background-color: rgb(133, 139, 36);
}
.admin-sidebar-link.active{
  background-color: rgb(201, 214, 14);
}

.admin-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 40px;
  width: 100%;
}

.delete-btn{
  background-color: red;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
.delete-btn:hover{
  background-color: rgb(182, 7, 7);
  color : white
}


.detail-btn{
  background-color: rgb(201, 214, 14);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-size: 17px;
  font-weight: bold;
}
.detail-btn:hover{
  background-color:red;
  color:white;

}

table{
  text-align: center;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}
td{
  padding: 20px;

}

.update-btn{
  background-color: rgb(201, 214, 14);
  border: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.is-hidden{
  display: none;
}

.episode-wrapper{
  display: flex;
  margin-left: 20px;

}

.episode-wrapper > *{
  flex: 1;
  padding: 20px;
  font-size: 20px;
}

.top-detail{
  display: flex;
}

.show-details{
  font-size: 18px;
}

.rate-wish{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.countdown{
  color:rgb(190, 16, 16)
}

.list-wrapper{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

